.VoiceBox{
	display: flex;
	align-items: center;
	justify-content:space-between;
	width:100%;
	height:80px;
}
.el-select .el-input {
    width: 110px;
}
.input-with-select .el-input-group__prepend {
    background-color: #fff;
}
.el-input-group__append{
	background-color: #FFFFFF;
}
.botAdmin{
	display: flex;
	align-items:center;
	justify-content:flex-end;
	width: 100%;
	height: 50px;
}
.dialogCon{
	width: 100%;
	height: auto;
}
.dialogCon .dialogitem{
	padding-left: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 40px;	
}
.dialogCon .dialogitem .litem{
	padding-right: 20px;
}
