.VoiceBox{
	display: flex;
	align-items: center;
	justify-content:space-between;
	width:100%;
	height:80px;
}
.searchDiv .el-select{
    width: 110px;
}
.input-with-select .el-input-group__prepend {
    background-color: #fff;
}
.el-input-group__append{
	background-color: #FFFFFF;
}
.botAdmin{
	display: flex;
	align-items:center;
	justify-content:space-between;
	width: 100%;
	height: 50px;
}
